name: NBA Daily Update
on:
  schedule:
    - cron: '0 5 * * *' # KST 14:00
  workflow_dispatch: # 수동 실행 버튼 생성
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with: { node-version: '20' }
      - run: npm install
      - run: node fetch-nba.js
      - name: Commit data
        run: |
    git config --global user.name "nba-bot"
    git config --global user.email "your-email@example.com"
    git add .
    # 변경사항이 있을 때만 커밋하도록 처리
    git diff --quiet && git diff --staged --quiet || git commit -m "Update NBA Data"
    git pull --rebase origin main  # 최신 코드 가져오기 추가
    git push origin main
