name: NBA Daily Update
on:
  schedule:
    - cron: '0 5 * * *' # KST 14:00
  workflow_dispatch: # 수동 실행 버튼 생성
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with: { node-version: '20' }
      - run: npm install
      - run: node fetch-nba.js
      - name: Commit data
        run: |
          git config --global user.name "nba-bot"
          git add .
          git commit -m "Update NBA Data" || exit 0
          git push
